@import 'variable';
@import 'mixin';


* {
    padding: 0 auto;
    margin: 0  auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.header__navbar {
    display: flex;
    justify-content: space-between;
}
.logo {
    display: flex;
    padding: 10px 0;
}
.menu ul {
    list-style: none;
    padding-left: 0px;
    margin: 0 auto;
    display: flex;
}
.header__navbar-listt li a:hover {
    color: #E250E5; 
    transition: all 0.3s;
}
.menu {
    display: flex;
    justify-content: center;
}
.header__navbar-item {
    display: inline-block;
    justify-content: space-between;
    margin: 0 24px;
}
.header__navbar-item a {
    text-decoration: none;
    margin-top: 24px;
}
.walletconnect {
    padding-top: 10px;
}
.header__navbar-list1 {
    list-style: none;
    position: relative;
    background-clip: padding-box;
    border: 1px solid transparent;
    border-radius: 20px;
    background-color: $mainColor3;
    display: flex;
    height: 40px;
    padding-left: 0px;
    margin: 10px 20px;
    width: 200px;
}    
.header__navbar-list1 div img{
    display: flex;
    padding-top: 9px; 
    margin-right: 0px;   
}
.header__navbar-list1:before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: -1;
    margin: -1px;
    border-radius: inherit;
    background: linear-gradient(216.56deg, #E250E5 5.32%, #4B50E6 94.32%);
}
.header__navbar-list1:hover {
    background: linear-gradient(216.56deg, #E250E5 5.32%, #4B50E6 94.32%);
    transition: all 0.3s
}
.icon1 {
    margin: 0;
    padding: 0px !important;
}
.button2 {
    padding-left: 0px !important;
}
.header__navbar-link, .button {
    font-size: 1rem;
    display: inline-block;
    color: $mainColor2;
    font-weight: 500;
    line-height: 15px;
    font-style: bold;
    text-align: left;
    text-decoration: none;
}
.button {
    font-size: 1rem;
    text-align: center;
    justify-content: center;
    position: absolute;
    margin: 0;
    cursor: pointer;
    padding: 10px;
}
.container-fluid1 {
    background-image: url(../img/IMGBackground.png);
    background-size: cover;
}
.content { 
    height: 978px;
}
.item1 {
    font-size: 56px;
    font-weight: 500;
    line-height: 68px;
    letter-spacing: 0em;
    text-align: left;
}
.item4 {
    font-size: 20px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;

}
#body {
    position: relative;
    width: 450px;
    height: 386px;
    display: flex;
    flex-direction: column;
    color: $mainColor2;
    justify-content: space-between;
    margin: 0 auto;
    top: 50%;
    transform: translateY(-50%);
}
#dong1{
    font-size: 45px;
    margin: 0;
}
#dong2 {
    margin: 0;
}
#dong2 p{
    font-size: 45px;
    -webkit-text-stroke: 1px rgb(36, 146, 190);
    -webkit-text-fill-color: transparent;
    margin-top: 10px;
}
#dong3{
    margin: 0;
}
#dong3 p{
    margin-top: 10px;
    font-size: 30px;
    font-weight: 600;
    line-height: 42px;
    letter-spacing: 0em;
}
#dong4 {
    
    margin: 0;
    margin-top: 10px;
}
#dong4 p{
    font-size: 16px;
    letter-spacing: 1px;
}
#form_submit  {
    display: flex;
    list-style: none;
    margin: 0;
    margin-top: 25px;
    cursor: pointer;
    max-width: 360px;
    
}
#submit{
    padding: 0px 15px;

}
#submit .submit1{
    width: 155px;
    list-style: none;
    padding: 0;
}
#submit .submit1 .button1{
    padding: 15px;
    text-align: center;
    font-size: 16px;
}
#submit .submit1 #create{
    border: 1px solid $mainColor1;
    border-radius: 50px;
}
#submit .submit1:hover #create{
    background-color: $mainColor1;
    transition: all 0.3s;
}
#submit .submit1 #sign{
    color: $mainColor3;
    border-radius: 50px;
    background: $mainColor2; 
}
#submit .submit1:hover #sign{
    color: $mainColor1;   
}








#wrapper{
    background-attachment: fixed;
    width: 728px;
    height: 978px;
    margin: 0 auto;
    position: relative;
}
.mask1 {
    background: linear-gradient(180deg, #000A0F 0%, rgba(20, 20, 31, 0) 28.44%);
    position: absolute;
    height: 810px;
    opacity: 0.95;
    top: 0px;
    z-index: 1;
}
.mask2 {
    position: absolute;
    height: 810px;
    background: linear-gradient(180deg, #040E23 1.8%, rgba(20, 20, 31, 0) 32.84%);
    opacity: 0.95;
    z-index: 1;
    bottom: 0px;
    transform: matrix(1, 0, 0, -1, 0, 0);
}
img{
    height: auto;
    vertical-align: middle;
    display: inline-block;
    border-radius: 16px;
}
#wrapper  div  img{
    width: 100%;
    height: 100%;
    object-fit: cover; 
    border-radius: 30px;
}
.col1, .col2, .col3 {
    /* display: grid;
    grid-row-gap: 20px; */
    padding-left: 0 !important;
    padding-right: 0 !important;
}





.community__footer {
    list-style: none;
    padding-left: 0px;
    margin: 0 auto;
    display: flex;
    padding-bottom: 0;
    justify-content: center;
    padding: 19px;
}
.community__footer-item  {
    display: inline-block;
    justify-content: space-between;
    margin: 0 24px;
}
.community__footer-item a {
    text-decoration: none;
    margin-top: 15px;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    color: #8A8AA0;
}
.community__footer-item a:hover {
    color: $mainColor2;
    transition: all 0.3s;
}
.social__footer{
    list-style: none;
    padding-left: 0px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
.social__footer a img {
    width: 40px;
    height: 40px;
    border-radius: 8px;
}
.social__footer a {
    margin: 10px;
}
#toggle{
    display: none;
    background: none;
    color: $mainColor2;
    text-align: right;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;  
}

@media screen and (max-width: 1600px) {   
    .xyz {
        justify-content: space-between;
        display: flex;
    }
}
@media screen and (max-width: 1400px) {
    .abc {
        display: none;
    }
    #body {
        position: relative;
    }
}
@media screen and (max-width: 1200px){
    #toggle {
        display: block;
        padding: 5px;
        margin-right: 0;
    }
    .menu {
        display: none;
    }
    .menu ul {
        margin-top: 40px;
    }
    .header__navbar-list1 {
        border: 1px solid #5142FC;
        border-radius: 50%;
        width: 40px;
        height: 40px;
    }
    .button2 {
        display: none;
    }
    .header__navbar-listt {
        flex-direction: column;
        text-align: center;
    }
    .walletconnect {
        display: flex;
        margin-right: 0;
    }
    .icon img {
        margin: 0 9px;
    }
    .logo {
        margin-left: 0;
        padding: 10px 0;
    }
    .header__navbar-link {
        margin: 20px;
    }
    #body {
        left: auto;
    }
}
@media screen and (max-width: 576px){
    #form_submit {
        margin: auto;
    }    
    #body {
        width: 343px;
        height: 260px;
        top: 202px;
    }
    .content {
        height: 720px;
    }
}
.container-fluid {
    padding: 0 !important;
}
.header1 {
    background-color: $mainColor3;
}
.footer1 {
    background-color: $mainColor3;
}
@media screen and (min-width: 1920px){
    .content  {
        @include overlayWidth();
        background-image: none;
    }
    .header__navbar {
        @include overlayWidth();
    }
    .footer {
        @include overlayWidth();    
    }
    .container-fluid1 {
        background-image: url(../img/IMGBackground.png);
        background-size: cover;
        width: 100%;
    }
    .header1 {
        width: 100%;
    }
    .footer1 {
        width: 100%;
    }
}
.splide__arrows--ttb .splide__arrow--next {
    display: none;
}
.splide__arrows--ttb .splide__arrow--prev {
    display: none;
}

.splide__slide img {
    padding: 15px;
    border-radius: 20px;
}

.splide__pagination--ttb {
    display: flex !important;
}

@keyframes splide-loading{0%{transform:rotate(0)}to{transform:rotate(1turn)}}.splide__track--draggable{-webkit-touch-callout:none;-webkit-user-select:none;-ms-user-select:none;user-select:none}.splide__track--fade>.splide__list>.splide__slide{margin:0!important;opacity:0;z-index:0}.splide__track--fade>.splide__list>.splide__slide.is-active{opacity:1;z-index:1}.splide--rtl{direction:rtl}.splide__track--ttb>.splide__list{display:block}.splide__container{box-sizing:border-box;position:relative}.splide__list{backface-visibility:hidden;display:-ms-flexbox;display:flex;height:100%;margin:0!important;padding:0!important}.splide.is-initialized:not(.is-active) .splide__list{display:block}.splide__pagination{-ms-flex-align:center;align-items:center;display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;-ms-flex-pack:center;justify-content:center;margin:0;pointer-events:none}.splide__pagination li{display:inline-block;line-height:1;list-style-type:none;margin:0;pointer-events:auto}.splide:not(.is-overflow) .splide__pagination{display:none}.splide__progress__bar{width:0}.splide{position:relative;visibility:hidden}.splide.is-initialized,.splide.is-rendered{visibility:visible}.splide__slide{backface-visibility:hidden;box-sizing:border-box;-ms-flex-negative:0;flex-shrink:0;list-style-type:none!important;margin:0;position:relative}.splide__slide img{vertical-align:bottom}.splide__spinner{animation:splide-loading 1s linear infinite;border:2px solid #999;border-left-color:transparent;border-radius:50%;bottom:0;contain:strict;display:inline-block;height:20px;left:0;margin:auto;position:absolute;right:0;top:0;width:20px}.splide__sr{clip:rect(0 0 0 0);border:0;height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute;width:1px}.splide__toggle.is-active .splide__toggle__play,.splide__toggle__pause{display:none}.splide__toggle.is-active .splide__toggle__pause{display:inline}.splide__track{overflow:hidden;position:relative;z-index:0}

.splide__container{box-sizing:border-box;position:relative}.splide__list{backface-visibility:hidden;display:-ms-flexbox;display:flex;height:100%;margin:0!important;padding:0!important}.splide.is-initialized:not(.is-active) .splide__list{display:block}.splide__pagination{-ms-flex-align:center;align-items:center;display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;-ms-flex-pack:center;justify-content:center;margin:0;pointer-events:none}.splide__pagination li{display:inline-block;line-height:1;list-style-type:none;margin:0;pointer-events:auto}.splide:not(.is-overflow) .splide__pagination{display:none}.splide__progress__bar{width:0}.splide{position:relative;visibility:hidden}.splide.is-initialized,.splide.is-rendered{visibility:visible}.splide__slide{backface-visibility:hidden;box-sizing:border-box;-ms-flex-negative:0;flex-shrink:0;list-style-type:none!important;margin:0;position:relative}.splide__slide img{vertical-align:bottom}.splide__spinner{animation:splide-loading 1s linear infinite;border:2px solid #999;border-left-color:transparent;border-radius:50%;bottom:0;contain:strict;display:inline-block;height:20px;left:0;margin:auto;position:absolute;right:0;top:0;width:20px}.splide__sr{clip:rect(0 0 0 0);border:0;height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute;width:1px}.splide__toggle.is-active .splide__toggle__play,.splide__toggle__pause{display:none}.splide__toggle.is-active .splide__toggle__pause{display:inline}.splide__track{overflow:hidden;position:relative;z-index:0}@keyframes splide-loading{0%{transform:rotate(0)}to{transform:rotate(1turn)}}.splide__track--draggable{-webkit-touch-callout:none;-webkit-user-select:none;-ms-user-select:none;user-select:none}.splide__track--fade>.splide__list>.splide__slide{margin:0!important;opacity:0;z-index:0}.splide__track--fade>.splide__list>.splide__slide.is-active{opacity:1;z-index:1}.splide--rtl{direction:rtl}.splide__track--ttb>.splide__list{display:block}.splide__arrow{-ms-flex-align:center;align-items:center;background:#ccc;border:0;border-radius:50%;cursor:pointer;display:-ms-flexbox;display:flex;height:2em;-ms-flex-pack:center;justify-content:center;opacity:.7;padding:0;position:absolute;top:50%;transform:translateY(-50%);width:2em;z-index:1}.splide__arrow svg{fill:#000;height:1.2em;width:1.2em}.splide__arrow:hover:not(:disabled){opacity:.9}.splide__arrow:disabled{opacity:.3}.splide__arrow:focus-visible{outline:3px solid #0bf;outline-offset:3px}.splide__arrow--prev{left:1em}.splide__arrow--prev svg{transform:scaleX(-1)}.splide__arrow--next{right:1em}.splide.is-focus-in .splide__arrow:focus{outline:3px solid #0bf;outline-offset:3px}.splide__pagination{bottom:.5em;left:0;padding:0 1em;position:absolute;right:0;z-index:1}.splide__pagination__page{background:#ccc;border:0;border-radius:50%;display:inline-block;height:8px;margin:3px;opacity:.7;padding:0;position:relative;transition:transform .2s linear;width:8px}.splide__pagination__page.is-active{background:#fff;transform:scale(1.4);z-index:1}.splide__pagination__page:hover{cursor:pointer;opacity:.9}.splide__pagination__page:focus-visible{outline:3px solid #0bf;outline-offset:3px}.splide.is-focus-in .splide__pagination__page:focus{outline:3px solid #0bf;outline-offset:3px}.splide__progress__bar{background:#ccc;height:3px}.splide__slide{-webkit-tap-highlight-color:rgba(0,0,0,0)}.splide__slide:focus{outline:0}@supports(outline-offset:-3px){.splide__slide:focus-visible{outline:3px solid #0bf;outline-offset:-3px}}@media screen and (-ms-high-contrast:none){.splide__slide:focus-visible{border:3px solid #0bf}}@supports(outline-offset:-3px){.splide.is-focus-in .splide__slide:focus{outline:3px solid #0bf;outline-offset:-3px}}@media screen and (-ms-high-contrast:none){.splide.is-focus-in .splide__slide:focus{border:3px solid #0bf}.splide.is-focus-in .splide__track>.splide__list>.splide__slide:focus{border-color:#0bf}}.splide__toggle{cursor:pointer}.splide__toggle:focus-visible{outline:3px solid #0bf;outline-offset:3px}.splide.is-focus-in .splide__toggle:focus{outline:3px solid #0bf;outline-offset:3px}.splide__track--nav>.splide__list>.splide__slide{border:3px solid transparent;cursor:pointer}.splide__track--nav>.splide__list>.splide__slide.is-active{border:3px solid #000}.splide__arrows--rtl .splide__arrow--prev{left:auto;right:1em}.splide__arrows--rtl .splide__arrow--prev svg{transform:scaleX(1)}.splide__arrows--rtl .splide__arrow--next{left:1em;right:auto}.splide__arrows--rtl .splide__arrow--next svg{transform:scaleX(-1)}.splide__arrows--ttb .splide__arrow{left:50%;transform:translate(-50%)}.splide__arrows--ttb .splide__arrow--prev{top:1em}.splide__arrows--ttb .splide__arrow--prev svg{transform:rotate(-90deg)}.splide__arrows--ttb .splide__arrow--next{bottom:1em;top:auto}.splide__arrows--ttb .splide__arrow--next svg{transform:rotate(90deg)}.splide__pagination--ttb{bottom:0;display:-ms-flexbox;display:flex;-ms-flex-direction:column;flex-direction:column;left:auto;padding:1em 0;right:.5em;top:0}


